/* Footer */
.footer__social-icon {
  margin: 0 10px;
}

.footer__list-item {
  text-decoration: none;
  list-style-type: none;
}

.footer__title {
  color: var(--white-color);
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
}

.footer__description {
  margin: 10px 0;
  color: var(--white-color);
}



@media all and (max-width: 768px) {
  .footer .grid  {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
}
