/* Navigation  */
.nav__area {
  position: fixed;
  background: var(--secondary-color);
  height: 62px;
  width: 100%;  
  justify-content: space-between;
  align-items: center;  
  z-index: 10;
}

.nav__container{
  justify-content: space-between;
  align-items: center;  
  display:flex; 
  height: 60px;
  max-width: 1100px;
  margin: 0 auto;  
  padding: 0 40px;
}

.nav__container-logo {
  color: var(--white-color);
  line-height: 70px;
}

.nav__container-menu-link:hover {
  background-color: var(--dark-color);
}
.nav__container-menu {
  float: right;
  margin-right: 20px;
 
}
.nav__container-menu--item {
  display: inline-block;
  line-height: 60px;
  margin: 0 5px;
  
}
.nav__container-menu-link {
  color: var(--white-color);
  font-size: 14px;
  padding: 22px 15px;
  text-transform: uppercase;
  font-weight: bold;
}
.nav__container-menu-link:hover {
  background: var(--dark-color);
  transition: 0.5s;
}
.nav__container-btn {
  font-size: 30px;
  color: var(--white-color);
  float: right;
  line-height: 62px;  
  cursor: pointer;
  display: none;
}
#box {
  display: none;
}
@media (max-width: 860px) {
  .nav__container-btn {
    display: block;
  }
  .nav__container-menu {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: var(--secondary-color);
    top: 62px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
    z-index: 9;
  }
  .nav__container-menu--item {
    display: block;
    margin: 0;
    line-height: 30px;
    padding: 25px 0;
  }
  .nav__container-menu-link {
    font-size: 30px;
  }
  .nav__container-menu--item:hover {
    background: var(--dark-color);
  }
  .nav__container-menu-link:hover {
    background: none;
  }
   
  #box:checked ~ .nav__container-menu {
    left: 0;   
  }

  .showcase__form {
    width: 300px;
  }
}
