@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto&display=swap");

:root {
  --primary-color: #047aed;
  --secondary-color: #1c3fa8;
  --dark-color: #002240;
  --light-color: #f4f4f4;
  --success-color: #5cb85c;
  --error-color: #d9534f;
}

* {
  box-sizing: border-box;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Lato", sans-serif;
  color: #333;
  line-height: 1.6;
}

/* ul {
  list-style-type: none;
} */

/* a {
  text-decoration: none;
  color: #333;
} */

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
}

p {
  margin: 10px 0;
}

img {
  width: 100%;
}

code,
pre {
  background: #333;
  color: #fff;
  padding: 10px;
}

.hidden {
  visibility: hidden;
  height: 0;
}

/* Navbar */
/* .navbar {
  background-color: var(--primary-color);
  color: #fff;
  height: 70px;
}

.navbar ul {
  display: flex;
}

.navbar a {
  color: #fff;
  padding: 10px;
  margin: 0 5px;
}

.navbar a:hover {
  border-bottom: 2px #fff solid;
}

.navbar .flex {
  justify-content: space-between;
} */

/* New Navbar */

 /* .logo {
  font-weight: 300;
  font-size: 2em;
  line-height: 1.2;
  margin: 10px 0;
  padding: 0 40px;
}

.container-logo {
  width: 100%;
  margin-left: 10px;
  margin-top: 10px;  
}

.new-navbar{
  background-color: var(--primary-color);
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  list-style-type: none;
  text-align: center;
  color: #fff;
  display: none;
  width: 100%;
  padding-top: 10px;
}

.nav-list .list-item {
  display: block;
  padding: 10px;  
}

.new-navbar a {
  color: #fff;
  padding: 10px;
  margin: 0 5px;
  text-decoration: none;    
}

.new-navbar li:hover {
  background-color: var(--dark-color);
  border-radius: 4px;
} */





/* Menu */
/* .menu {
  display: none;
  margin-top: 15px;
}

.menu {
  color: #fff;
  padding: 10px;
  margin: 0 5px;
  text-decoration: none;
  border-bottom: none;    
}

.menu-line {
  width: 20px;
  height: 3px;
  background-color: #fff;
  margin-bottom: 4px;
} */

/* Nav Area */

.nav-area {
  background: var(--primary-color);
  height: 62px;
  width: 100%;
}
.logo {
  background-color: var(--primary-color);
  line-height: 70px;
  padding: 0 40px;
}
.nav-area ul {
  float: right;
  margin-right: 20px;
}
.nav-area ul li {
  display: inline-block;
  line-height: 60px;
  margin: 0 5px;
}
.nav-area ul li a {
  color: #fff;
  font-size: 14px;
  padding: 22px 15px;
  text-transform: uppercase;
  font-weight: bold;
}
.nav-area ul li a:hover {
  background: var(--dark-color );
  transition: 0.5s;
}
.btn-area {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 62px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#box {
  display: none;
}

.logo {
  background-color: var(--primary-color);
  color: #fff;
  font-weight: 300;
  font-size: 2em;
  line-height: 1.2;
  margin: 10px 0;
  padding: 0 40px;
}

.container-logo {
  background-color: var(--primary-color);
  width: 100%;
  margin-left: 10px;
  margin-top: 10px;  
}

/* @media screen and (max-width: 768px) {
  .new-navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 24px;
  }
  .nav-list {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .nav-list li {
    width: 100%;
    text-align: center;
  }
  
  .menu {
    display: block;
  }
  .nav-list.active {
    display: flex;
  }
} */

/* Showcase */
.showcase {
  height: 400px;
  background-color: var(--primary-color);
  color: #fff;
  position: relative;
}

.showcase h1 {
  font-size: 40px;
}

.showcase p {
  margin: 20px 0;
}

.showcase .grid {
  overflow: visible;
  grid-template-columns: 55% 45%;
  gap: 30px;
}

.showcase-text {
  animation: slideInFromLeft 1s ease-in;
}

.showcase-form {
  position: relative;
  top: 60px;
  height: 350px;
  width: 400px;
  padding: 40px;
  z-index: 100;
  animation: slideInFromRight 1s ease-in;
  /* justify-self: flex-end; */
}

.showcase-form .form-control {
  margin: 30px 0;
}

.showcase-form input[type="text"],
.showcase-form input[type="email"] {
  border: 0;
  border-bottom: 1px solid #b4becb;
  width: 100%;
  padding: 3px;
  font-size: 16px;
}

.showcase-form input:focus {
  outline: none;
}

.showcase::before,
.showcase::after {
  content: "HELLO";
  position: absolute;
  height: 100px;
  bottom: -70px;
  right: 0;
  left: 0;
  background: #fff;
  transform: skewY(-3deg);
  -webkit-transform: skewY(-3deg); /*Para Chrome */
  -moz-transform: skewY(-3deg); /*Para Safari-Mozila */
  -ms-transform: skewY(-3deg); /*Para MicroSoft-Internet Explorer */
}

/* Stats */
.stats {
  padding-top: 100px;
  animation: slideInFromBottom 1s ease-in;
}

.stats-heading {
  max-width: 500px;
  margin: auto;
}

.stats .grid h3 {
  font-size: 35px;
}

.stats .grid p {
  font-size: 20px;
  font-weight: bold;
}

/* Cli */
.cli .grid {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

/* otra opcion
.cli .grid img {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
} */

.cli .grid > *:first-child {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
}

/* Cloud */
.cloud .grid {
  grid-template-columns: 4fr 3fr;
}

/* Languages */

.languages .flex {
  flex-wrap: wrap;
}

.languages .card {
  text-align: center;
  margin: 18px 10px 40px;
  transition: transform 0.2s ease-in;
}

.languages .card h4 {
  font-size: 20px;
  margin-bottom: 10px;
}

.languages .card:hover {
  transform: translateY(-15px);
}

/* Features */
.features-head img,
.docs-head img {
  width: 200px;
  justify-self: flex-end;
}

.features-sub-head img {
  width: 300px;
  justify-self: flex-end;
}

.features-main .card > i {
  margin-right: 20px;
}

.features-main .grid {
  padding: 30px;
}

.features-main .grid > *:first-child {
  grid-column: 1 / span 3;
}

.features-main .grid > *:nth-child(2) {
  grid-column: 1 / span 2;
}

/* Docs */
.docs-main h3 {
  margin: 20px 0;
}

.docs-main .grid {
  grid-template-columns: 1fr 2fr;
  align-items: flex-start;
}

.docs-main nav li {
  font-size: 17px;
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: 1px #ccc solid;
}

.docs-main a:hover {
  font-weight: bold;
}

/* Footer */
.footer .social a {
  margin: 0 10px;
}

/* Animations */
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0%);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0%);
  }
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateX(0%);
  }
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateX(0%);
  }
}

/* New Mobile */
@media (max-width: 860px) {
  .btn-area {
    display: block;
  }
  .nav-area ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: darkorange;
    top: 62px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  .nav-area ul li {
    display: block;
    margin: 0;
    line-height: 30px;
    padding: 25px 0;
  }
  .nav-area ul li a {
    font-size: 30px;
  }
  .nav-area ul li:hover {
    background: #000;
  }
  .nav-area ul li a:hover {
    background: none;
  }
  #box:checked ~ ul {
    left: 0;
  }
}


/* Mobile */
/* @media all and (max-width: 500px) {
  .new-navbar {
    flex-direction: column;    
    position: relative;
  }

  .new-navbar ul {
    background-color: rgba(0, 0, 0, 0.1);
  }

  .menu {
    display: block;
    position: absolute;
    right: 15px;
    top: 15px;
  }

  .nav-list {    
    list-style-type: none;       
    text-align: center;
    padding: 5px 5px;      
  }

  .active {
    display: block;     
  }
} */

/* @media all and (min-width: 500px) {
  .nav-list {    
    display:contents; 
    padding-left: 50px;    
  }
} */

/* Tablets and under */
@media all and (max-width: 768px) {
  .grid,
  .showcase .grid,
  .stats .grid,
  .cli .grid,
  .cloud .grid,
  .features-main .grid,
  .docs-main .grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .showcase {
    height: auto;
  }

  .showcase-text {
    text-align: center;
    margin-top: 40px;
    animation: slideInFromTop 1s ease-in;
  }

  .showcase-form {
    justify-self: center;
    margin: auto;
    animation: slideInFromBottom 1s ease-in;
  }

  .cli .grid > *:first-child {
    grid-column: 1;
    grid-row: 1;
  }

  .features-head,
  .features-sub-head,
  .docs-head {
    text-align: center;
  }

  .features-head img,
  .features-sub-head img,
  .docs-head img {
    justify-self: center;
  }

  .features-main .grid > *:first-child,
  .features-main .grid > *:nth-child(2) {
    grid-column: 1;
  }  
}

@media screen and (min-width: 500px) {
  .nav-list {
       
}
