/* Showcase */
.showcase {
  background-color: var(--primary-color);
  color: #fff;
  position: relative;
}

.showcase__title {
  font-size: 40px;
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
  margin-top: 40px;  
}

.showcase__form-title {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;   
}

.showcase__description {
  margin: 20px 0;
}

.showcase .grid{
  overflow: visible;
  /* grid-template-columns: 55% 45%;
  gap: 30px; */
}

.showcase__text-area {
  animation: slideInFromLeft 1s ease-in;
}

.showcase__form {
  position: relative;
  top: 60px;
  height: 350px;
  /* width: 400px; */
  padding: 40px;
  z-index: 8;
  animation: slideInFromRight 1s ease-in;
  /* justify-self: flex-end; */
}

.showcase__form .card {
  width: 400px;
}

.showcase__form--control {
  margin: 30px 0;
}

.showcase__form--hidden {
  visibility: hidden;
  height: 0;
}

.showcase__form input[type="text"],
.showcase__form input[type="email"] {
  border: 0;
  border-bottom: 1px solid #b4becb;
  width: 100%;
  padding: 3px;
  font-size: 16px;
}

.showcase__form input:focus {
  outline: none;
}

.showcase::before,
.showcase::after {
  content: "HELLO";
  position: absolute;
  height: 100px;
  bottom: -70px;
  right: 0;
  left: 0;
  background: #fff;
  transform: skewY(-3deg);
  -webkit-transform: skewY(-3deg); /*Para Chrome */
  -moz-transform: skewY(-3deg); /*Para Safari-Mozila */
  -ms-transform: skewY(-3deg); /*Para MicroSoft-Internet Explorer */
}

@media all and (max-width: 768px) {
  .showcase .grid   {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .showcase {
    height: auto;
  }

  .showcase__text-area {
    text-align: center;
    margin-top: 40px;
    animation: slideInFromTop 1s ease-in;
  }

  .showcase__form {
    justify-self: center;
    margin: auto;
    animation: slideInFromBottom 1s ease-in;
  }

}